{% include 'finalApp/header.html' %}
{% block content %}
{% load static %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>We sale fresh fruits</p>
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3"><span class="orange-text">싼걸비걸</span>의 시작</h2>
						<h6>채소, 적절한 가격에 먹고 있을까?</h6>
						<div class="section-title">
							<p> &nbsp;기후 환경에 따라 채소 가격의 등락이 심하다는 것은 누구나 아는 사실입니다. 그런데 유독 우리나라에서 채소와 과일 가격의 급등락 폭이 너무 크고 횟수가 잦다고 합니다. 왜 그럴까요?<br>
								기후와 환경 외에 농산물 값의 변동이 이처럼 큰 이유는 크게 3가지로 나뉠 수 있었습니다.<br>
								가격 결정의 대부분이 송파 가락시장 한 곳에서 경매로 이뤄지고, 거대 자본을 가진 도매상인들이 높은 유통 수수료를 받아내며, 표준화된 농산물 가격이 없기 때문입니다.</p>
							<p> &nbsp;가락시장은 우리나라 1년 과일, 채소 유통 물량의 4분의 1을 취급하기에 가락시장의 도매가격은 전국 표준가격 역할을 하고 있습니다.
								그런데 이곳에서 이뤄지는 거래 중 80% 이상이 경매로 가격을 결정합니다.
								경매는 물건이 없을 때는 가격을 더 올리고, 물건이 많을 때는 원가 이하로 떨어뜨리는 경향이 있어 가격이 급등락할 수밖에 없습니다.
								경매 시스템 뿐만 아니라 가락시장을 통해 유통하는 도매상인들의 갑질과 독과점 또한 채소 가격이 심하게 오르는 이유입니다.
								가락시장의 경우 5개의 청과 업체가 담당하고 있는데, 이들은 농산물 거래 수수료는 최대 7%까지 받으면서도, 가락시장 이용료는 거래액의 0.55%만 내고 있습니다.
								이러한 불균형은 고스란히 농부와 소비자에게 부담이 되고 있는 구조입니다.</p>
							<p>	&nbsp;우리는 생각했습니다. 소비자와 생산자 모두 적절한 채소 가격을 알지 못한 채 소비,생산하고 있는데, 이를 바꾸려면 어떻게 해야 할까?
								우리나라 농업 유통의 실태를 알리고, 농부에게 적절한 경락가를 미리 알려주려면 어떻게 해야 할까?</p>
							<p> &nbsp;농부와 소비자를 살리는 농산물 가격 알림 페이지, 싼걸비걸에 오신 걸 환영합니다.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row">
                <!--Content Column-->
                <div class="content-column col-lg-12">

				<div class="col-lg-12 col-md-10 mb-5 mb-md-5">
					<div class="row">
						<div class="col-lg-2">
							<img src="{% static 'assets/img/icons/farmer.png' %}" class="img-responsive" >
						</div>
						<div class="col-lg-10 align-self-center">
							<h3><span class="orange-text">농부</span>를 위한 적절한 경락가</h3>
							<p>피땀눈물 흘려 키워냈는데, 한 치 앞을 알 수 없는 경매 때문에 제 값을 받지 못할까봐 걱정되시죠?<br>
								당신의 채소 가격을 남들이 좌지우지하기 전에 예상 경락가를 미리 알고 출하량을 결정하세요.<br>
								예상 경락가가 낮다면 출하량을 적게, 예상 경락가가 높다면 출하량을 많이!
								조금 걱정하고 많이 버세요!
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-10 mb-5 mb-md-5 mt-150">
					<div class="row">
						<div class="col-lg-10 align-self-center text-right">
							<h3><span class="orange-text">소비자</span>를 위한 적절한 채소 가격</h3>
							<p>서울 시민이라면, 시장이 싼지 마트가 싼지 한 눈에 알아보세요!<br>
								빅데이터로 보는 채소 평균값과 장 볼 때의 채소 값은 얼마나 차이날까요?<br>
								당신이 사는 지역보다 더 싸게 파는 곳은 어디인지, 피싸게 파는 곳은 어디인지도 알 수 있답니다.<br>
								싼걸비걸 페이지 한 번이면 당신은 이미 스마트 컨슈머!</p>
						</div>
						<div class="col-lg-2 ">
							<img src="{% static 'assets/img/icons/consumer.png' %}" class="img-responsive">
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-10 mb-5 mb-md-5 mt-150">
					<div class="row">
						<div class="col-lg-2">
							<img src="{% static 'assets/img/icons/harvest.png' %}" class="img-responsive">
						</div>
						<div class="col-lg-10 align-self-center">
							<h3><span class="orange-text">모두</span>를 위한 우리나라 농업 정보</h3>
							<p>더 알아보기 페이지에서 농업 관련 뉴스와 유통 과정의 고질적인 문제, 그리고 각 채소별 가격 변동 정도를 알아보세요.<br>
								당신의 관심이 농부를 살리고, 농업을 살리며, 대한민국을 빛나게 합니다.</p>
						</div>
					</div>
				</div>
                </div>
            </div>
        </div>
    </section>
    <!-- end cart banner section -->
<!--	<div class = "feature-bg02">-->
<!--		<div class = "container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-4 col-md-6 mb-4 mb-md-5">-->
<!--					<div class="list-box d-flex">-->
<!--						<div class="list-icon">-->
<!--							<img src="{% static 'assets/img/icons/farmer.png' %}" >-->
<!--						</div>-->
<!--						<div class="content">-->
<!--							<h3><span class="orange-text">농부</span>를 위한 적절한 경락가</h3>-->
<!--							<p>피땀눈물 흘려 키워냈는데, 한 치 앞을 알 수 없는 경매 때문에 제 값을 받지 못할까봐 걱정되시죠?<br>-->
<!--								당신의 채소 가격을 남들이 좌지우지하기 전에 예상 경락가를 미리 알고 출하량을 결정하세요.-->
<!--								예상 경락가가 낮다면 출하량을 적게, 예상 경락가가 높다면 출하량을 많이!-->
<!--								조금 걱정하고 많이 버세요!-->
<!--							</p>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-4 col-md-6 mb-5 mb-md-5">-->
<!--					<div class="list-box d-flex">-->
<!--						<div class="list-icon">-->
<!--							<img src="{% static 'assets/img/icons/consumer.png' %}" width="395px">-->
<!--						</div>-->
<!--						<div class="content">-->
<!--							<h3><span class="orange-text">소비자</span>를 위한 적절한 채소 가격</h3>-->
<!--							<p>서울 시민이라면, 시장이 싼지 마트가 싼지 한 눈에 알아보세요!<br>-->
<!--								빅데이터로 보는 채소 평균값과 장 볼 때의 채소 값은 얼마나 차이날까요?-->
<!--								당신이 사는 지역보다 더 싸게 파는 곳은 어디인지, 피싸게 파는 곳은 어디인지도 알 수 있답니다.<br>-->
<!--								싼걸비걸 페이지 한 번이면 당신은 이미 스마트 컨슈머!</p>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-lg-4 col-md-6 mb-5 mb-md-5">-->
<!--					<div class="list-box d-flex">-->
<!--						<div class="list-icon">-->
<!--							<img src="{% static 'assets/img/icons/harvest.png' %}" width="215px">-->
<!--						</div>-->
<!--						<div class="content">-->
<!--							<h3><span class="orange-text">모두</span>를 위한 우리나라 농업 정보</h3>-->
<!--							<p>더 알아보기 페이지에서 농업 관련 뉴스와 유통 과정의 고질적인 문제, 그리고 각 채소별 가격 변동 정도를 알아보세요.<br>-->
<!--								당신의 관심이 농부를 살리고, 농업을 살리며, 대한민국을 빛나게 합니다.</p>-->

<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>>-->
<!--	</div>>-->
	<!-- end featured section -->



	<!-- testimonail-section -->
	<div class="testimonail-section mt-80 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'assets/img/avaters/avatar1.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>D.G Cho <span>Team Leader</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'assets/img/avaters/avatar2.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>M.K Kim <span>Team member</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'assets/img/avaters/avatar3.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>J.W Yun <span>Team member</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'assets/img/avaters/avatar3.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>G.H Lee <span>Team member</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'assets/img/avaters/avatar3.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>S.Y Han <span>Team member</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->


{% endblock %}
{% include 'finalApp/footer.html' %}