{% include 'finalApp/header.html' %}
{% block content %}
{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Fruitkha - Slider Version</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

	<!-- timeline chart css -->
	<link rel="stylesheet" href="{% static 'assets/css/timechart.css' %}">

	<!-- video css -->
	<link rel="stylesheet" href="{% static 'assets/css/video.css' %}">

	<!-- video play button -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- up and down-->
	<link rel="stylesheet" href="{% static 'assets/css/additional.css' %}">

</head>
<body>
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>factors for fun</p>
						<h1>재미로 알아보는 채소가격</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<div class="mb-150 bg-light cart-banner">
		<div class="container">
			<div class="row">
				<div class="content-column col-lg-12">
					<h3 style="text-align: center; margin-top: 50px; margin-bottom: 50px;">내가 직접 정하는 <span class="orange-text">무의 가격</span>(시장)<br/><br/><span><h6>,(콤마)제외하고 입력</h6></span></h3>
					<form action="">
					<div class="row">
						<div class="field col-md-3">
							<input  placeholder="332 ~ 1,907" type="text"  id='dummy1' class="col-xs-2" style=" background-color:transparent; padding-top: 20px; width:200px; font-size: 20px;">
								<label for="dummy1">경락가 평균 가격</label></div>
						<div class="field col-md-3">
							<input  placeholder="264,000 ~ 1,327,000" type="text"  id='dummy2' class="col-xs-2" style=" background-color:transparent; padding-top: 20px; width:200px; font-size: 20px;">
								<label for="dummy2">반입량</label></div>
						<div class="field col-md-3" >
							<input  placeholder="1,246 ~ 1,692" type="text"  id='dummy3' class="col-xs-2" style=" background-color:transparent; padding-top: 20px; width:200px; font-size: 20px;display:inline-block;">
								<label for="dummy3">유가평균가격</label></div>
						<div class="field col-md-3" >
							<input  placeholder="0 or 1" type="text"  id='dummy4' class="col-xs-2" style=" background-color:transparent; padding-top: 20px; width:200px; font-size: 20px;">
								<label for="dummy4">휴일유무</label></div>
						<div class="field col-md-3" >
							<input  placeholder="-16.4 ~ 30.3" type="text"  id='dummy5' class="col-xs-2" style=" background-color:transparent; padding-top: 20px; width:200px; font-size: 20px;">
								<label for="dummy5">최저기온</label></div>
						<div class="field col-md-3" >
							<input  placeholder="-10.7 ~ 39.6" type="text"  id='dummy6' class="col-xs-2" style=" background-color:transparent; padding-top: 20px; width:200px; font-size: 20px;">
								<label for="dummy6">최고기온</label></div>
						<div class="field col-md-3" >
							<input  placeholder="0 ~ 144.5" type="text"  id='dummy7' class="col-xs-2" style=" background-color:transparent; padding-top: 20px; width:200px; font-size: 20px;">
								<label for="dummy7">일강수량</label></div>
						<div class="field col-md-3">
							<input  placeholder="350 ~ 1,500" type="text"  id='dummy8' class="col-xs-2" style=" background-color:transparent; padding-top: 20px; width:200px; font-size: 20px;">
							<label for="dummy8">도매가격</label></div></div>
					<button type="button" class="btn btn-primary btn-block float-right" id="predict" style="width:200px;">예상가격 확인하기&nbsp;&nbsp;<i class="fas fa-mouse-pointer"></i></button>
				</form>
				</div>
				<div class="container p-3 my-3text-dark">
					<label for="one-result" style="text-align: left;"><h4>'꼼꼼하조'가 만든 학습기 예측 가격</h4></label><h2 style="text-align: center;"><span class="orange-text">"무의 예상 소비자 가격은
						<input placeholder="000" type="text"  id="one-result" class="col-xs-2" style="text-align: end; background-color:transparent; padding: 10px; font-size: 50px; border:none; width:180px; border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">원 입니다 "</span></h2>
					<label for="two-result" style="text-align: left;"><h4>다중회귀분석 예측 가격</h4></label><h2 style="text-align: center;"><span class="orange-text">"무의 예상 소비자 가격은
						<input placeholder="000" type="text" id="two-result"  class="col-xs-2" style="text-align: end; background-color:transparent;  padding:10px; font-size: 50px; border:none; width:180px; border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">원 입니다 "</span></h2>
				</div>
						 </div>
					</div>
			</div>




	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
                <!--Content Column-->
                <div class="content-column col-lg-12 row">
					<div class="content-column col-lg-6">
						<img src="{% static 'assets/img/additional/google_logo.png' %}" class="img-responsive">
					</div>
					<div class="content-column col-lg-6 my-auto">
						<h5><span class="orange-text">구글 검색량에 따라 변동하는 채소가격을 알아보자 </span></h5>
						<h2>Q. <span class="orange-text">구글</span>이 채소가격을<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;들었다 놨다 한다고?<br><br></h2>

						<div class="card card-body">
							<div class="row my-5">
								<select class="mdb-select md-form  btn-lg col-lg-5" id="item">
									<option value="" disabled selected>채소를 선택하세요</option>
									<option value="1">양파</option>
									<option value="2">배추</option>
									<option value="3">무</option>
									<option value="4">오이</option>
									<option value="5">상추</option>
								</select>
								<div class="inputDiv col-xs-6  col-lg-7">
									<label for="qty"><strong>50~100 사이의 검색량을 입력하세요.</strong></label>
									<input type="number" class="form-control input-lg my-auto" id="qty" aria-describedby="googleSearchNum" placeholder="숫자입력">
								</div>
							</div>
							<button type="button" class="btn btn-primary btn-block" id="searchBtn">예상가격 확인하기&nbsp;&nbsp;<i class="fas fa-mouse-pointer"></i></button>
						</div>
					</div>
					<div class="container p-3 my-3 text-center bg-light text-dark"> <h2><span class="orange-text">" 예상 가격은
						<input placeholder="000" type="text" id="result" class="col-xs-2" style="text-align: end; padding: 10px;  background-color:transparent; font-size: 50px; border:none; width:200px; border-right:0px; border-top:0px; boder-left:0px; boder-bottom:0px;">원 입니다 "</span></h2></div>
                </div>
            </div>
		</div>
	</div>
	</div>


	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row">
                <!--Content Column-->
                <div class="content-column col-lg-12 row">
					<div class="content-column col-lg-6 my-auto">
						<h5><span class="orange-text">백종원과 채소가격 Quiz Quiz </span></h5>
						<h2>Q. <span class="orange-text">백종원</span>이<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TV에서 요리를 한다면?<br><br></h2>
						<div class="text">
							<ol>
							  <li>백종원 선생님이 TV에서 선보일 요리를 선택하세요</li>
							  <li>Quiz의 정답을 선택해주세요</li>
							</ol>
						</div>
					</div>
					<div class="content-column col-lg-6">
						<img src="{% static 'assets/img/additional/baekjongwon.png' %}" class="img-responsive">

<!--						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">-->

						<div class="row my-100" align="center" aria-multiselectable="true" id="accordion">
							<a data-toggle="collapse" aria-expanded="false" aria-controls="quizdiv" href="#quizdiv1" class="cart-btn" id="cabbageclick" data-parent="#accordion">배추김치</a>
							<a data-toggle="collapse" aria-expanded="false" aria-controls="quizdiv" href="#quizdiv1" class="cart-btn" id="radishclick" data-parent="#accordion">무조림</a>
							<a data-toggle="collapse" aria-expanded="false" aria-controls="quizdiv" href="#quizdiv1" class="cart-btn" id="cucumberclick" data-parent="#accordion">오이소박이</a>
							<a data-toggle="collapse" aria-expanded="false" aria-controls="quizdiv" href="#quizdiv1" class="cart-btn" id="onionclick" data-parent="#accordion">양파장아찌</a>
							<a data-toggle="collapse" aria-expanded="false" aria-controls="quizdiv" href="#quizdiv1" class="cart-btn" id="lettuceclick" data-parent="#accordion">상추쌈</a>
						</div>
					</div>

                </div>
            </div>
        </div>
		<div class=" container collapse" id="quizdiv1" data-parent="#accordion">
			<div class="col-md-push-(12)">
				<div class="single-product mt-80 mb-100" >
					<div class="container">
						<div class="row">
							<div class="card card-body">
    							<div class="row">
									<div class="col-md-6" align="center">
										<img src="{% static 'assets/img/additional/quiz_o.png' %}" class="img-responsive">
										<p><h4><strong>배추 가격이 <span class="orange-text">오를 것이다</span></strong></h4></p>
										<button type="button" class="btn-btn btn-lg" data-toggle="modal" data-target="#myModalYes1">select</button>
									</div>
									<div class="col-md-6" align="center">
										<img src="{% static 'assets/img/additional/quiz_x.png' %}" class="img-responsive">
										<p><h4><strong>배추 가격이 <span class="orange-text">오르지 않을 것이다</span></strong></h4></p>
										<button type="button" class="btn-btn btn-lg" data-toggle="modal" data-target="#myModalNo1">select</button>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>

	<!--YES Modal -->
	<div id="myModalNo1" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-dialog-centered">
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
<!--			<h4 class="modal-title">Modal Header</h4>-->
		  </div>
		  <div class="modal-body" align="center">
			  <img src="{% static 'assets/img/additional/main_quiz_o.png' %}" class="img-responsive mb-80">
			  <img src="{% static 'assets/img/additional/백종원배추.png' %}" class="img-responsive mb-80">
			  <p>백종원이 출연하는 TV시청률과 배추가격은 매우 낮은 상관관계를 보입니다.<br>이는 서로간의 영향을 거의 받지 않음을 의미합니다.</p>

		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>

	  </div>
	</div>
<!--	fin modal-->
	<!--NO Modal -->
	<div id="myModalYes1" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-dialog-centered">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
<!--			<h4 class="modal-title">Modal Header</h4>-->
		  </div>
		  <div class="modal-body" align="center">
			  <img src="{% static 'assets/img/additional/main_quiz_x.png' %}" class="img-responsive mb-80">
			  <img src="{% static 'assets/img/additional/백종원배추.png' %}" class="img-responsive mb-80">
			  <p>백종원이 출연하는 TV시청률과 배추가격은 매우 낮은 상관관계를 보입니다.<br>이는 서로간의 영향을 거의 받지 않음을 의미합니다.</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>

	  </div>
	</div>
<!--	fin modal-->

	<!--YES Modal -->
	<div id="myModalNo2" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-dialog-centered">
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
<!--			<h4 class="modal-title">Modal Header</h4>-->
		  </div>
		  <div class="modal-body" align="center">
			  <img src="{% static 'assets/img/additional/main_quiz_o.png' %}" class="img-responsive mb-80">
			  <img src="{% static 'assets/img/additional/백종원무.png' %}" class="img-responsive mb-80">
			  <p>백종원이 출연하는 TV시청률과 무가격은 매우 낮은 상관관계를 보입니다.<br>이는 서로간의 영향을 거의 받지 않음을 의미합니다.</p>

		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>

	  </div>
	</div>
<!--	fin modal-->
	<!--NO Modal -->
	<div id="myModalYes2" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-dialog-centered">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
<!--			<h4 class="modal-title">Modal Header</h4>-->
		  </div>
		  <div class="modal-body" align="center">
			  <img src="{% static 'assets/img/additional/main_quiz_x.png' %}" class="img-responsive mb-80">
			  <img src="{% static 'assets/img/additional/백종원무.png' %}" class="img-responsive mb-80">
			  <p>백종원이 출연하는 TV시청률과 무가격은 매우 낮은 상관관계를 보입니다.<br>이는 서로간의 영향을 거의 받지 않음을 의미합니다.</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>

	  </div>
	</div>
<!--	fin modal-->

	<!--YES Modal -->
	<div id="myModalNo3" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-dialog-centered">
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
<!--			<h4 class="modal-title">Modal Header</h4>-->
		  </div>
		  <div class="modal-body" align="center">
			  <img src="{% static 'assets/img/additional/main_quiz_o.png' %}" class="img-responsive mb-80">
			  <img src="{% static 'assets/img/additional/백종원오이.png' %}" class="img-responsive mb-80">
			  <p>백종원이 출연하는 TV시청률과 오이가격은 매우 낮은 상관관계를 보입니다.<br>이는 서로간의 영향을 거의 받지 않음을 의미합니다.</p>

		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>

	  </div>
	</div>
<!--	fin modal-->
	<!--NO Modal -->
	<div id="myModalYes3" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-dialog-centered">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
<!--			<h4 class="modal-title">Modal Header</h4>-->
		  </div>
		  <div class="modal-body" align="center">
			  <img src="{% static 'assets/img/additional/main_quiz_x.png' %}" class="img-responsive mb-80">
			  <img src="{% static 'assets/img/additional/백종원오이.png' %}" class="img-responsive mb-80">
			  <p>백종원이 출연하는 TV시청률과 오이가격은 매우 낮은 상관관계를 보입니다.<br>이는 서로간의 영향을 거의 받지 않음을 의미합니다.</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>

	  </div>
	</div>
<!--	fin modal-->

	<!--YES Modal -->
	<div id="myModalNo4" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-dialog-centered">
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
<!--			<h4 class="modal-title">Modal Header</h4>-->
		  </div>
		  <div class="modal-body" align="center">
			  <img src="{% static 'assets/img/additional/main_quiz_o.png' %}" class="img-responsive mb-80">
			  <img src="{% static 'assets/img/additional/백종원양파.png' %}" class="img-responsive mb-80">
			  <p>백종원이 출연하는 TV시청률과 양파가격은 매우 낮은 상관관계를 보입니다.<br>이는 서로간의 영향을 거의 받지 않음을 의미합니다.</p>

		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>

	  </div>
	</div>
<!--	fin modal-->
	<!--NO Modal -->
	<div id="myModalYes4" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-dialog-centered">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
<!--			<h4 class="modal-title">Modal Header</h4>-->
		  </div>
		  <div class="modal-body" align="center">
			  <img src="{% static 'assets/img/additional/main_quiz_x.png' %}" class="img-responsive mb-80">
			  <img src="{% static 'assets/img/additional/백종원양파.png' %}" class="img-responsive mb-80">
			  <p>백종원이 출연하는 TV시청률과 양파가격은 매우 낮은 상관관계를 보입니다.<br>이는 서로간의 영향을 거의 받지 않음을 의미합니다.</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>

	  </div>
	</div>
<!--	fin modal-->

	<!--YES Modal -->
	<div id="myModalNo5" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-dialog-centered">
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
<!--			<h4 class="modal-title">Modal Header</h4>-->
		  </div>
		  <div class="modal-body" align="center">
			  <img src="{% static 'assets/img/additional/main_quiz_o.png' %}" class="img-responsive mb-80">
			  <img src="{% static 'assets/img/additional/백종원상추.png' %}" class="img-responsive mb-80">
			  <p>백종원이 출연하는 TV시청률과 상추가격은 매우 낮은 상관관계를 보입니다.<br>이는 서로간의 영향을 거의 받지 않음을 의미합니다.</p>

		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>

	  </div>
	</div>
<!--	fin modal-->
	<!--NO Modal -->
	<div id="myModalYes5" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-dialog-centered">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
<!--			<h4 class="modal-title">Modal Header</h4>-->
		  </div>
		  <div class="modal-body" align="center">
			  <img src="{% static 'assets/img/additional/main_quiz_x.png' %}" class="img-responsive mb-80">
			  <img src="{% static 'assets/img/additional/백종원상추.png' %}" class="img-responsive mb-80">
			  <p>백종원이 출연하는 TV시청률과 상추가격은 매우 낮은 상관관계를 보입니다.<br>이는 서로간의 영향을 거의 받지 않음을 의미합니다.</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div>

	  </div>
	</div>
<!--	fin modal-->

    <!-- end cart banner section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="content-column col-lg-12 mt-30 mb-30">
					<h2>주린이들을 위한<span class="orange-text">&nbsp;농업 테마주</span></h2>
					<h5>농업 관련 회사의 주식 변동을 알아보자</h5>
				</div>
			</div>

			<div class="row mt-80 mb-80" >
				<div class="content-column col-lg-2 pt-5" >
						<a  class="cart-btn" id="co_smartfarm">스마트팜 회사</a></p>
						<a  class="cart-btn" id="co_fertilizer">&nbsp;&nbsp;&nbsp;비료 회사&nbsp;&nbsp;&nbsp;</a></p>
						<a  class="cart-btn" id="co_pesticide">&nbsp;&nbsp;&nbsp;농약 회사&nbsp;&nbsp;&nbsp;</a></p>
						<a  class="cart-btn" id="co_kind">&nbsp;&nbsp;&nbsp;종자 회사&nbsp;&nbsp;&nbsp;</a></p>
						<a  class="cart-btn" id="co_machine">&nbsp;농기계 회사&nbsp;</a></p>
				</div>
				<div class="content-column col-lg-10">
					<figure class="highcharts-figure" id="graph">
					  <div id="container_stock"></div>
					</figure>
				</div>
				<div id="stockinfo">
				</div>


			</div>

		</div>
	</div>


	<!--	script-->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/timeline.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>

	<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script>
		import {MDCTextField} from '@material/textfield';

		const textField = new MDCTextField(document.querySelector('.mdc-text-field'));
	</script>
<!--Material Select Initialization-->
	<script>
		$(document).ready(function() {
			$('#searchBtn').click(function() {
				//alert('searchBtn')
				$.ajax({
					url : "{% url 'search' %}",
					type : 'post',
					data : { 'csrfmiddlewaretoken' : '{{csrf_token}}' ,
							item : $('#item').val() ,
							qty : $('#qty').val() },
					dataType : 'json',
					success : function(data) {
						//alert(data[0].pred)
						$('#result').val(data[0].pred)
					}
				})
			})});
	</script>
	<script>
		$(document).ready(function() {
			$('#predict').click(function(){
				$.ajax({
					url : "{% url 'predict' %}",
					type : 'post',
					data : { 'csrfmiddlewaretoken' : '{{csrf_token}}' ,
							dummy1 : $('#dummy1').val() ,
							dummy2 : $('#dummy2').val() ,
							dummy3 : $('#dummy3').val() ,
							dummy4 : $('#dummy4').val() ,
							dummy5 : $('#dummy5').val() ,
							dummy6 : $('#dummy6').val() ,
							dummy7 : $('#dummy7').val() ,
							dummy8 : $('#dummy8').val() },
					dataType : 'json',
					success : function(data) {
						//alert(data[0].pred)
						$('#one-result').val(data[0].oneresult)
						$('#two-result').val(data[0].tworesult)
					}
				})
			})
		});
	</script>

	<script>
	$(document).ready(function() {
			$('#cabbageclick').click(function() {
				$('#quizdiv1').empty()
				$('#quizdiv1').html('<div class="col-md-push-(12)">'+
						'<div class="single-product mt-80 mb-100" >'+
						'<div class="container">'+
						'<div class="row">'+
						'<div class="card card-body">'+
						'<div class="row">'+
						'<div class="col-md-6" align="center">'+
						'<img src="{% static 'assets/img/additional/quiz_o.png' %}" class="img-responsive" >'+
						'<p><h4><strong>' + '배추 가격이'+ '<span class="orange-text">'+'오를 것이다'+'</span></strong></h4></p>'+
						'<button type="button" class="btn-btn btn-lg" data-toggle="modal" data-target="#myModalYes1">' + 'select' +'</button></div>'+
						'<div class="col-md-6" align="center">'+
						'<img src="{% static 'assets/img/additional/quiz_x.png' %}" class="img-responsive" >'+
						'<p><h4><strong>' + '배추 가격이' + '<span class="orange-text">' + '오르지 않을 것이다' + '</span></strong></h4></p>'+
						'<button type="button" class="btn-btn btn-lg" data-toggle="modal" data-target="#myModalNo1">' + 'select' + '</button>'+
						'</div></div></div></div></div></div></div>'
				)
			});
			$('#radishclick').click(function() {
				$('#quizdiv1').empty()
				$('#quizdiv1').html('<div class="col-md-push-(12)">'+
						'<div class="single-product mt-80 mb-100" >'+
						'<div class="container">'+
						'<div class="row">'+
						'<div class="card card-body">'+
						'<div class="row">'+
						'<div class="col-md-6" align="center">'+
						'<img src="{% static 'assets/img/additional/quiz_o.png' %}" class="img-responsive" >'+
						'<p><h4><strong>' + '무 가격이'+ '<span class="orange-text">'+'오를 것이다'+'</span></strong></h4></p>'+
						'<button type="button" class="btn-btn btn-lg" data-toggle="modal" data-target="#myModalYes2">' + 'select' +'</button></div>'+
						'<div class="col-md-6" align="center">'+
						'<img src="{% static 'assets/img/additional/quiz_x.png' %}" class="img-responsive" >'+
						'<p><h4><strong>' + '무 가격이' + '<span class="orange-text">' + '오르지 않을 것이다' + '</span></strong></h4></p>'+
						'<button type="button" class="btn-btn btn-lg" data-toggle="modal" data-target="#myModalNo2">' + 'select' + '</button>'+
						'</div></div></div></div></div></div></div>'
				)
			})
			$('#cucumberclick').click(function() {
				$('#quizdiv1').empty()
				$('#quizdiv1').html('<div class="col-md-push-(12)">'+
						'<div class="single-product mt-80 mb-100" >'+
						'<div class="container">'+
						'<div class="row">'+
						'<div class="card card-body">'+
						'<div class="row">'+
						'<div class="col-md-6" align="center">'+
						'<img src="{% static 'assets/img/additional/quiz_o.png' %}" class="img-responsive" >'+
						'<p><h4><strong>' + '오이 가격이'+ '<span class="orange-text">'+'오를 것이다'+'</span></strong></h4></p>'+
						'<button type="button" class="btn-btn btn-lg" data-toggle="modal" data-target="#myModalYes3">' + 'select' +'</button></div>'+
						'<div class="col-md-6" align="center">'+
						'<img src="{% static 'assets/img/additional/quiz_x.png' %}" class="img-responsive" >'+
						'<p><h4><strong>' + '오이 가격이' + '<span class="orange-text">' + '오르지 않을 것이다' + '</span></strong></h4></p>'+
						'<button type="button" class="btn-btn btn-lg" data-toggle="modal" data-target="#myModalNo3">' + 'select' + '</button>'+
						'</div></div></div></div></div></div></div>'
				)
			});
			$('#onionclick').click(function() {
				$('#quizdiv1').empty()
				$('#quizdiv1').html('<div class="col-md-push-(12)">'+
						'<div class="single-product mt-80 mb-100" >'+
						'<div class="container">'+
						'<div class="row">'+
						'<div class="card card-body">'+
						'<div class="row">'+
						'<div class="col-md-6" align="center">'+
						'<img src="{% static 'assets/img/additional/quiz_o.png' %}" class="img-responsive" >'+
						'<p><h4><strong>' + '양파 가격이'+ '<span class="orange-text">'+'오를 것이다'+'</span></strong></h4></p>'+
						'<button type="button" class="btn-btn btn-lg" data-toggle="modal" data-target="#myModalYes4">' + 'select' +'</button></div>'+
						'<div class="col-md-6" align="center">'+
						'<img src="{% static 'assets/img/additional/quiz_x.png' %}" class="img-responsive" >'+
						'<p><h4><strong>' + '양파 가격이' + '<span class="orange-text">' + '오르지 않을 것이다' + '</span></strong></h4></p>'+
						'<button type="button" class="btn-btn btn-lg" data-toggle="modal" data-target="#myModalNo4">' + 'select' + '</button>'+
						'</div></div></div></div></div></div></div>'
				)
			});
			$('#lettuceclick').click(function() {
				$('#quizdiv1').empty()
				$('#quizdiv1').html('<div class="col-md-push-(12)">'+
						'<div class="single-product mt-80 mb-100" >'+
						'<div class="container">'+
						'<div class="row">'+
						'<div class="card card-body">'+
						'<div class="row">'+
						'<div class="col-md-6" align="center">'+
						'<img src="{% static 'assets/img/additional/quiz_o.png' %}" class="img-responsive" >'+
						'<p><h4><strong>' + '상추 가격이'+ '<span class="orange-text">'+'오를 것이다'+'</span></strong></h4></p>'+
						'<button type="button" class="btn-btn btn-lg" data-toggle="modal" data-target="#myModalYes5">' + 'select' +'</button></div>'+
						'<div class="col-md-6" align="center">'+
						'<img src="{% static 'assets/img/additional/quiz_x.png' %}" class="img-responsive" >'+
						'<p><h4><strong>' + '상추 가격이' + '<span class="orange-text">' + '오르지 않을 것이다' + '</span></strong></h4></p>'+
						'<button type="button" class="btn-btn btn-lg" data-toggle="modal" data-target="#myModalNo5">' + 'select' + '</button>'+
						'</div></div></div></div></div></div></div>'
				)
			})
	});
	</script>

	<script>
	Highcharts.chart('container_stock', {
	  chart: {
		zoomType: 'xy'
	  },
	  title: {
		text: '[예시] 주식과 농산물가격'
	  },
	  subtitle: {
		text: 'Stock and agricultural product prices'
	  },
	  xAxis: [{
		categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
		  'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
		crosshair: true
	  }],
	  yAxis: [{ // Primary yAxis
		labels: {
		  format: '{value}원',
		  style: {
			color: Highcharts.getOptions().colors[1]
		  }
		},
		title: {
		  text: '주가',
		  style: {
			color: Highcharts.getOptions().colors[1]
		  }
		}
	  }, { // Secondary yAxis
		title: {
		  text: '배추 소비자가',
		  style: {
			color: Highcharts.getOptions().colors[0]
		  }
		},
		labels: {
		  format: '{value}원',
		  style: {
			color: Highcharts.getOptions().colors[0]
		  }
		},
		opposite: true
	  }],
	  tooltip: {
		shared: true
	  },
	  legend: {
		layout: 'vertical',
		align: 'left',
		x: 120,
		verticalAlign: 'top',
		y: 100,
		floating: true,
		backgroundColor:
		  Highcharts.defaultOptions.legend.backgroundColor || // theme
		  'rgba(255,255,255,0.25)'
	  },
	  series: [{
		name: '배추 소비자가',
		type: 'column',
		yAxis: 1,
		data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
		tooltip: {
		  valueSuffix: '{value}원'
		}

	  }, {
		name: '주식',
		type: 'spline',
		data: [7000.0, 6000.9, 9000.5, 1400.5, 1800.2, 2100.5, 2500.2, 2600.5, 2300.3, 1800.3, 1300.9, 9000.6],
		tooltip: {
		  valueSuffix: '{value}원'
		}
	  }]
	});
	</script>


	<script>
	$(document).ready(function() {
		$('#co_smartfarm').click(function () {
			$.ajax({
				url: "{% url 'additionalfactors2' %}",
				data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
				datatype:'json',
				type: 'post',
				success: function (data) {
					$('#stockinfo').empty()
					$('#stockinfo').html('<h5 style="margin-left: 50px;">' + '※ 스마트팜 회사 : 그린플러스, 우리바이오' + '</h5>')
               		$('#graph').empty()
               		$('#graph').html('<div id="container_stock"></div>')
					console.log(data)
						Highcharts.chart('container_stock', {
							chart : { zoomType: 'xy'},
							title : { text: '스마트팜 회사 주식과 배추 가격'},
							subtitle: {
										text: 'Stock and agricultural product prices'
									  },
							xAxis : {  categories: data[0].days},
							yAxis: [{ // Primary yAxis
								labels: {
								  format: '{value}원',
								  style: {
									color: Highcharts.getOptions().colors[1]
								  }
								},
								title: {
								  text: '주가',
								  style: {
									color: Highcharts.getOptions().colors[1]
								  }
								}
							  }, { // Secondary yAxis
								title: {
								  text: '배추 소비자가',
								  style: {
									color: Highcharts.getOptions().colors[0]
								  }
								},
								labels: {
								  format: '{value}원',
								  style: {
									color: Highcharts.getOptions().colors[0]
								  }
								},
								opposite: true
							}],
							tooltip: {
								shared: true
						  	},
						  	legend: {
								layout: 'vertical',
								align: 'left',
								x: 120,
								verticalAlign: 'top',
								y: 60,
								floating: true,
								backgroundColor:
								  Highcharts.defaultOptions.legend.backgroundColor || // theme
								  'rgba(255,255,255,0.25)'
							  },
							series: [{
								name: '배추 소비자가',
								type: 'column',
								yAxis: 1,
								data: data[0].cabbage_price,
								tooltip: {
								  valueSuffix: '{value}원'
								}

							  }, {
								name: '스마트팜',
								type: 'spline',
								data: data[0].stock_smartfarm,
								tooltip: {
								  valueSuffix: '{value}원'
								}
							 }]
						})
				}
			});
		})
		$('#co_fertilizer').click(function () {
			$.ajax({
				url: "{% url 'additionalfactors2' %}",
				data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
				datatype:'json',
				type: 'post',
				success: function (data) {
					$('#stockinfo').empty()
					$('#stockinfo').html('<h5 style="margin-left: 50px;">' + '※ 비료 회사 : 조비, 남해화학' + '</h5>')
               		$('#graph').empty()
               		$('#graph').html('<div id="container_stock"></div>')
					console.log(data)

						Highcharts.chart('container_stock', {
							chart : { zoomType: 'xy'},
							title : { text: '비료 회사 주식과 배추 가격'},
							subtitle: {
									text: 'Stock and agricultural product prices'
								  },
							xAxis : {  categories: data[0].days},
							yAxis: [{ // Primary yAxis
								labels: {
								  format: '{value}원',
								  style: {
									color: Highcharts.getOptions().colors[1]
								  }
								},
								title: {
								  text: '주가',
								  style: {
									color: Highcharts.getOptions().colors[1]
								  }
								}
							  }, { // Secondary yAxis
								title: {
								  text: '배추 소비자가',
								  style: {
									color: Highcharts.getOptions().colors[0]
								  }
								},
								labels: {
								  format: '{value}원',
								  style: {
									color: Highcharts.getOptions().colors[0]
								  }
								},
								opposite: true
							}],
							tooltip: {
								shared: true
						  	},
						  	legend: {
								layout: 'vertical',
								align: 'left',
								x: 120,
								verticalAlign: 'top',
								y: 60,
								floating: true,
								backgroundColor:
								  Highcharts.defaultOptions.legend.backgroundColor || // theme
								  'rgba(255,255,255,0.25)'
							  },
							series: [{
								name: '배추 소비자가',
								type: 'column',
								yAxis: 1,
								data: data[0].cabbage_price,
								tooltip: {
								  valueSuffix: '{value}원'
								}

							  }, {
								name: '비료 회사',
								type: 'spline',
								data: data[0].stock_fertilizer,
								tooltip: {
								  valueSuffix: '{value}원'
								}
							 }]
						})
				}
			});
		})
		$('#co_kind').click(function () {
			$.ajax({
				url: "{% url 'additionalfactors2' %}",
				data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
				datatype:'json',
				type: 'post',
				success: function (data) {
					$('#stockinfo').empty()
					$('#stockinfo').html('<h5 style="margin-left: 50px;">' + '※ 농약 회사 : 경농, 동방아그로' + '</h5>')
               		$('#graph').empty()
               		$('#graph').html('<div id="container_stock"></div>')
					console.log(data)

						Highcharts.chart('container_stock', {
							chart : { zoomType: 'xy'},
							title : { text: '농약 회사 주식과 배추 가격'},
							subtitle: {
									text: 'Stock and agricultural product prices'
								  },
							xAxis : {  categories: data[0].days},
							yAxis: [{ // Primary yAxis
								labels: {
								  format: '{value}원',
								  style: {
									color: Highcharts.getOptions().colors[1]
								  }
								},
								title: {
								  text: '주가',
								  style: {
									color: Highcharts.getOptions().colors[1]
								  }
								}
							  }, { // Secondary yAxis
								title: {
								  text: '배추 소비자가',
								  style: {
									color: Highcharts.getOptions().colors[0]
								  }
								},
								labels: {
								  format: '{value}원',
								  style: {
									color: Highcharts.getOptions().colors[0]
								  }
								},
								opposite: true
							}],
							tooltip: {
								shared: true
						  	},
						  	legend: {
								layout: 'vertical',
								align: 'left',
								x: 120,
								verticalAlign: 'top',
								y: 60,
								floating: true,
								backgroundColor:
								  Highcharts.defaultOptions.legend.backgroundColor || // theme
								  'rgba(255,255,255,0.25)'
							  },
							series: [{
								name: '배추 소비자가',
								type: 'column',
								yAxis: 1,
								data: data[0].cabbage_price,
								tooltip: {
								  valueSuffix: '{value}원'
								}

							  }, {
								name: '종자 회사',
								type: 'spline',
								data: data[0].stock_seedkind,
								tooltip: {
								  valueSuffix: '{value}원'
								}
							 }]
						})
				}
			});
		})

		$('#co_pesticide').click(function () {
			$.ajax({
				url: "{% url 'additionalfactors2' %}",
				data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
				datatype:'json',
				type: 'post',
				success: function (data) {
					$('#stockinfo').empty()
					$('#stockinfo').html('<h5 style="margin-left: 50px;">' + '※ 종자 회사 : 농우바이오, 아시아종묘' + '</h5>')
               		$('#graph').empty()
               		$('#graph').html('<div id="container_stock"></div>')
					console.log(data)

						Highcharts.chart('container_stock', {
							chart : { zoomType: 'xy'},
							title : { text: '종자 회사 주식과 배추 가격'},
							subtitle: {
									text: 'Stock and agricultural product prices'
								  },
							xAxis : {  categories: data[0].days},
							yAxis: [{ // Primary yAxis
								labels: {
								  format: '{value}원',
								  style: {
									color: Highcharts.getOptions().colors[1]
								  }
								},
								title: {
								  text: '주가',
								  style: {
									color: Highcharts.getOptions().colors[1]
								  }
								}
							  }, { // Secondary yAxis
								title: {
								  text: '배추 소비자가',
								  style: {
									color: Highcharts.getOptions().colors[0]
								  }
								},
								labels: {
								  format: '{value}원',
								  style: {
									color: Highcharts.getOptions().colors[0]
								  }
								},
								opposite: true
							}],
							tooltip: {
								shared: true
						  	},
						  	legend: {
								layout: 'vertical',
								align: 'left',
								x: 120,
								verticalAlign: 'top',
								y: 60,
								floating: true,
								backgroundColor:
								  Highcharts.defaultOptions.legend.backgroundColor || // theme
								  'rgba(255,255,255,0.25)'
							  },
							series: [{
								name: '배추 소비자가',
								type: 'column',
								yAxis: 1,
								data: data[0].cabbage_price,
								tooltip: {
								  valueSuffix: '{value}원'
								}

							  }, {
								name: '농약 회사',
								type: 'spline',
								data: data[0].stock_pesticide,
								tooltip: {
								  valueSuffix: '{value}원'
								}
							 }]
						})
				}
			});
		})
		$('#co_machine').click(function () {
			$.ajax({
				url: "{% url 'additionalfactors2' %}",
				data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
				datatype:'json',
				type: 'post',
				success: function (data) {
					$('#stockinfo').empty()
					$('#stockinfo').html('<h5 style="margin-left: 50px;">' + '※ 농기계  회사 : 동양물산, 아세텍' + '</h5>')
               		$('#graph').empty()
               		$('#graph').html('<div id="container_stock"></div>')
					console.log(data)

						Highcharts.chart('container_stock', {
							chart : { zoomType: 'xy'},
							title : { text: '농기계 회사 주식과 배추 가격'},
							subtitle: {
									text: 'Stock and agricultural product prices'
								  },
							xAxis : {  categories: data[0].days},
							yAxis: [{ // Primary yAxis
								labels: {
								  format: '{value}원',
								  style: {
									color: Highcharts.getOptions().colors[1]
								  }
								},
								title: {
								  text: '주가',
								  style: {
									color: Highcharts.getOptions().colors[1]
								  }
								}
							  }, { // Secondary yAxis
								title: {
								  text: '배추 소비자가',
								  style: {
									color: Highcharts.getOptions().colors[0]
								  }
								},
								labels: {
								  format: '{value}원',
								  style: {
									color: Highcharts.getOptions().colors[0]
								  }
								},
								opposite: true
							}],
							tooltip: {
								shared: true
						  	},
						  	legend: {
								layout: 'vertical',
								align: 'left',
								x: 120,
								verticalAlign: 'top',
								y: 60,
								floating: true,
								backgroundColor:
								  Highcharts.defaultOptions.legend.backgroundColor || // theme
								  'rgba(255,255,255,0.25)'
							  },
							series: [{
								name: '배추 소비자가',
								type: 'column',
								yAxis: 1,
								data: data[0].cabbage_price,
								tooltip: {
								  valueSuffix: '{value}원'
								}

							  }, {
								name: '농기계 회사',
								type: 'spline',
								data: data[0].stock_machine,
								tooltip: {
								  valueSuffix: '{value}원'
								}
							 }]
						})
				}
			});
		})

	})

	</script>


</body>
{% endblock %}
{% include 'finalApp/footer.html' %}