{% include 'finalApp/header.html' %}
{% block content %}
{% load static %}
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Organic Information</p>
						<h1>News Article</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- latest news -->
	<div class="latest-news mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="https://biz.chosun.com/site/data/html_dir/2020/11/11/2020111101039.html"><div class="latest-news-bg news-bg-1"></div></a>
						<div class="news-text-box">
							<h3><a href="https://biz.chosun.com/site/data/html_dir/2020/11/11/2020111101039.html">'오늘은 농업인의 날'… 지역 농산물 소비 촉진 지원 나선 유통가</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> ChosunBiz</span>
								<span class="date"><i class="fas fa-calendar"></i> 11 November, 2020</span>
							</p>
                            <p class="excerpt">이천쌀 빼빼로·소백산 도시락·나주 플럼코트 티…눈길 끄는 신상품</br>
유통기업, 지역 특산물 신제품 출시하며 농가 지원…소비자들도 '착한 소비'로 부응</p>
							<a href="https://biz.chosun.com/site/data/html_dir/2020/11/11/2020111101039.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="https://www.kamnews.co.kr/news/articleView.html?idxno=4072"><div class="latest-news-bg news-bg-2"></div></a>
						<div class="news-text-box">
							<h3><a href="https://www.kamnews.co.kr/news/articleView.html?idxno=4072">스마트 농업 시장 '어그테크' 확산… '데이터 주권' 경쟁 심화</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> 한국농기계신문</span>
								<span class="date"><i class="fas fa-calendar"></i> 16 April, 2020</span>
							</p>
							<p class="excerpt">삼정KPMG, '스마트 농업과 변화하는 비즈니스 생태계' 보고서 발간</p>
							<a href="https://www.kamnews.co.kr/news/articleView.html?idxno=4072" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="https://m.blog.naver.com/mifaffgov/221791264333"><div class="latest-news-bg news-bg-3"></div></a>
						<div class="news-text-box">
							<h3><a href="https://m.blog.naver.com/mifaffgov/221791264333">2020 공익직불제 개편</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> 농림축산식품부 블로그</span>
								<span class="date"><i class="fas fa-calendar"></i> 31 January, 2020</span>
							</p>
							<p class="excerpt">
							기존의 쌀, 밭농업, 조건불리 직불금이 통합되어, 소농직불금이나 면적직불금 수령 가능<br>
							경관보전 및 친환경직불등은 그대로 유지되어 선택에 따라 추가 지급 가능
							</p>
							<a href="https://m.blog.naver.com/mifaffgov/221791264333" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="https://www.nocutnews.co.kr/news/5434143"><div class="latest-news-bg news-bg-4"></div></a>
						<div class="news-text-box">
							<h3><a href="https://www.nocutnews.co.kr/news/5434143">대형 유통업체 친환경 농산물 비싼 이유는?</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> 노컷뉴스</span>
								<span class="date"><i class="fas fa-calendar"></i> 23 October, 2020</span>
							</p>
							<p class="excerpt">더불어민주당 최인호 의원,친환경 딸기 유통비용<br>대형 유통업체 가격의 59% 차지</p>
							<a href="https://www.nocutnews.co.kr/news/5434143" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="http://www.youngnong.co.kr/news/articleView.html?idxno=32339"><div class="latest-news-bg news-bg-5"></div></a>
						<div class="news-text-box">
							<h3><a href="http://www.youngnong.co.kr/news/articleView.html?idxno=32339">"도매제 중심의 도매시장 거래제도 개혁해야"</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> 한국영농신문</span>
								<span class="date"><i class="fas fa-calendar"></i> 4 November, 2019</span>
							</p>
							<p class="excerpt"서울시농수산식품공사 김경호 사장 등 서한문 작성, 각계 발송해 개혁 지원 호소</p>
							<a href="http://www.youngnong.co.kr/news/articleView.html?idxno=32339" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-6"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Love for fruits are genuine of John Doe</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2018</span>
							</p>
							<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="pagination-wrap">
								<ul>
									<li><a href="#">Prev</a></li>
									<li><a href="#">1</a></li>
									<li><a class="active" href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">Next</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->

{% endblock %}
{% include 'finalApp/footer.html' %}