{% include 'finalApp/header.html' %}
{% block content %}
{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Shop</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

</head>
<body>
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>predict the price of vegetables</p>
						<h1>미래의 채소가격</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-100 mb-50">
		<div class="container">
			<div class="row product-lists">
				<div class="col-lg-2 col-md-6 text-center onion  ml-4 mr-3">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="{% static 'assets/img/products/onion.jpg' %}" alt=""></a>
						</div>
						<p class="product-price"><span>15Kg</span>양파</p>
						<a data-toggle="collapse" aria-expanded="false" aria-controls="nooneacabbagediv" href="#nooneacabbagediv" class="cart-btn" id="vegetableclick1"><i class="fas fa-mouse-pointer"></i>Click</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 text-center cabbage ml-4">
					<div class="single-product-item">
						<div class="product-image">
							<a href="#None"><img src="{% static 'assets/img/products/cabbage.jpg' %}" alt=""></a>
						</div>
						<p class="product-price"><span>10Kg</span>배추</p>
						<a data-toggle="collapse" aria-expanded="false" aria-controls="nooneacabbagediv" href="#nooneacabbagediv" class="cart-btn" id="vegetableclick2"><i class="fas fa-mouse-pointer"></i>Click</a></p>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 text-center Radish ml-4">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="{% static 'assets/img/products/Radish.jpg' %}" alt=""></a>
						</div>
						<p class="product-price"><span>20Kg</span>무</p>
						<a data-toggle="collapse" aria-expanded="false" aria-controls="nooneacabbagediv" href="#nooneacabbagediv" class="cart-btn" id="vegetableclick3"><i class="fas fa-mouse-pointer"></i>Click</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 text-center cucumber ml-4">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="{% static 'assets/img/products/cucumber.jpg' %}" alt=""></a>
						</div>
						<p class="product-price"><span>3Kg</span>오이</p>
						<a data-toggle="collapse" aria-expanded="false" aria-controls="nooneacabbagediv" href="#nooneacabbagediv" class="cart-btn" id="vegetableclick4"><i class="fas fa-mouse-pointer"></i>Click</a>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 text-center hotpepper ml-4">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="{% static 'assets/img/products/lettuce.jpg' %}" alt=""></a>
						</div>
						<p class="product-price"><span>10Kg</span>상추</p>
						<a  data-toggle="collapse" href="#nooneacabbagediv" class="cart-btn" id="vegetableclick5"><i class="fas fa-mouse-pointer"></i>Click</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container collapse" id="nooneacabbagediv" >
	<div class="col-md-push-(12)">
					<!-- single product -->
	<div class="single-product mt-100 mb-100" id="region_p">
		<div class="container" id="moreRegion_p">
			<div class="row">
				<div class="col-md-5">
					<div class="single-product-img" id="preview">
					</div>
				</div>
				<div class="col-md-7">
					<div class="cart-table-wrap">
						<div id="today-mart-price">
							<h3>오늘의 <span class="orange-text">마트</span>가격 <span class="orange-text"> 0000원</span></h3>
						</div>
						<div id="today-sijang-price" style="margin-top: -25px; margin-bottom: -12px;">
							<h3>오늘의 <span class="orange-text">시장</span>가격 <span class="orange-text"> 0000원</span></h3>
						</div>
						<table class="price-table" s>
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="price-status">구분</th>
									<th class="price-week-pred">금주 평균 예측가</th>
									<th class="price-twodaysago">2일전일가</th>
									<th class="price-yesterday">전일가</th>
									<th class="price-gap">차액정보(2일전일가-전일가)</th>
								</tr>
							</thead>
							<tbody id="tablelist">
								<tr class="table-body-row_m">
									<td class="price-status">마트</td>
									<td class="price-week-pred_m">00원/Kg</td>
									<td class="price-twodaysago_m">85원</td>
									<td class="price-yesterday_m">00원</td>
									<td class="price-gap_m">100원</td>
								</tr>
								<tr class="table-body-row_s">
									<td class="price-status_s">시장</td>
									<td class="price-week-pred_s">00원/Kg</td>
									<td class="price-twodaysago_s">85원</td>
									<td class="price-yesterday_s">00원</td>
									<td class="price-gap_s">200원</td>
								</tr>
						</table>
					</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single product -->

	<!-- more products -->
	<div class="more-products mb-150" id="region2_p">
		<div class="container" id="moreRegion2_p">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title" id="vegdiv1_p">
						<h3>주간 소비자가격 <span class="orange-text">예측</span></h3>
						<p>이틀 전 ~ 5일 후 까지의 소비자가격을 살펴보자</p>
					</div>
					<figure class="highcharts-figure" id="chartregion">
						<div id ="chartdiv">
							<p class="highcharts-description"></p>
						</div>
					</figure>
				</div>
			</div>
		</div>
	</div>

	<div class="more-products mb-150" id="region3_p">
		<div class="container" id="moreRegion3_p">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title" id="vegdiv3_p">
					{% csrf_token %}
					<h3>소비자가격을 형성하는 <span class="orange-text">요인들</span></h3>
					<p>채소가격은 어떤 변수의 영향을 가장 많이 받을까?</p>
				</div>
				<figure class="highcharts-figure" id="chartregion02">
					<div id ="chartdiv02">
						<p class="highcharts-description"></p>
					</div>
				</figure>
			</div>
			<div class="content-column col-lg-12">
				<div class="col-lg-12 col-md-10 mb-5 mb-md-5 mt-100">
					<div class="row">
						<div class="col-lg-4">
							<img src="{% static 'assets/img/icons/bank.png' %}" class="img-responsive" >
						</div>
						<div class="col-lg-8 align-self-center">
							<div >
								<h4>평균 도매가격</h4>
								<p>소매가격이 결정되기 바로 이전 단계의 가격으로,  소비자가격과 밀접한 관계를 가지는 변수입니다.</p>
							</div>
							<div class="mt-5">
								<h4>경락가 평균 가격</h4>
								<p>가락시장과 같은 도매시장에서 채소를 경매하여 낙찰된 가격으로,<br>채소 가격이 결정되는 첫 단계로서 중요 변수로 측정됩니다.</p>
							</div>
							<div class="mt-5">
								<h4>유가 전국평균 가격</h4>
								<p>매년 오르는 물가를 반영하는 변수로 대부분의 채소에서 가장 높은 중요 변수로 측정됩니다.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-10 mb-5 mb-md-5 mt-150">
					<div class="row">
						<div class="col-lg-9 align-self-center text-right">
							<div>
								<h4>반입량</h4>
								<p>공급량을 대변하는 변수입니다. 일반적으로 공급이 많으면 가격이 하락하고,<br>공급이 적으면 가격이 증가하는 추이를 보이며 그에 따른 중요한 변수로 측정됩니다.</p>
							</div>
							<div class="mt-5">
								<h4>연휴의 유무</h4>
								<p>추석이나 설날 등 민족대명절이 있는 연휴에는 아무래도 채소의 값이 올라가기 마련입니다.<br>하지만 1년 중 워낙 적은 수의 연휴가 있기 때문에 중요도는 크지 않는 것으로 보입니다.</p>
							</div>
						</div>
						<div class="col-lg-3 ">
							<img src="{% static 'assets/img/icons/warehouse.png' %}" class="img-responsive">
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-10 mb-5 mb-md-5 mt-150">
					<div class="row">
						<div class="col-lg-3 ">
							<img src="{% static 'assets/img/icons/cloudy.png' %}" class="img-responsive">
						</div>
						<div class="col-lg-9 align-self-center">
							<div>
								<h4>최저기온/ 최고기온</h4>
								<p>작물이 잘 자라기 위해서는 알맞은 온도가 필요합니다. 따라서 전혀 관련이 없다고 할 수는 없지만,<br>각 채소는 최적화된 산지에서 재배되기 때문에 높은 중요도를 보이지는 않습니다.</p>
							</div>
							<div class="mt-5">
								<h4>일강수량</h4>
								<p>풍작을 위해서는 작물이 물을 많이 흡수해야겠지요.<br>하지만 요즘은 하우스재배가 많고, 농부가 직접 물도 주기 때문에 큰 영향은 없는 것 같습니다.</p>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

	<!-- end more products -->
	</div>
	</div>

	<!-- end products -->
{% endblock %}
{% include 'finalApp/footer.html' %}

	<!--	예측 경락가-->
	<script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!--	<script src="https://code.highcharts.com/highcharts.js"></script>-->
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>


	<script>
	$(document).ready(function() {
		$('#vegetableclick1').click(function () {
			$.ajax({
				url: "{% url 'vegetableSelectProducer' id='양파' %}",
				data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
				datatype:'json',
				type: 'post',
				success: function (data) {
					console.log(">>>>>>>>>>>")
					console.log(data)
					$('#preview').html($('<img src="{% static 'assets/img/products/onion.jpg' %}" alt="">'));
					$('#tablelist').empty()
					var txt = "";
					$('#today-mart-price').html('<h3 class="text-center">' + ' 오늘의' + '<span class="orange-text">' +' 마트' + '</span>' +' 가격은 ' +
								'<span class="orange-text">' + data[0].trData[0].today + '</span>' + '원 입니다' + '</h3><br>');
					$('#today-sijang-price').html('<h3 class="text-center">' + ' 오늘의' + '<span class="orange-text">' +' 시장' + '</span>' +' 가격은 ' +
								'<span class="orange-text">' + data[0].trData[1].today + '</span>' + '원 입니다' + '</h3><br>');
					$.each(data[0].trData , function(idx, obj) {
						txt +="<tr><td>"+obj.kind+"</td>" ;
						txt +="<td>"+obj.weekly+' 원'+"</td>" ;
						txt +="<td>"+obj.twodaysago+' 원'+"</a></td>";
						txt +="<td>"+obj.yesterday+' 원'+"</td>";
						txt +="<td>"+obj.gap+' 원'+"</td></tr>" ;
					});
					//alert(data[0].trData[0].kind)
					//alert(data[0].trData)
					$("#tablelist").append(txt);

					$('#vegdiv1_p').empty();
					$('#vegdiv1_p').html('<h3>' + ' 소비자가격' + '<span class="orange-text">' +' 예측' + '</span></h3>'+
										'<p>' + data[0].category + '의 소비자가격을 예측해보자!' + '</p>');
					$('#vegdiv2_p').html('<h3>' + ' 주간 소비자가'+ '<span class="orange-text">'+ '예측' + '</span></h3>');
						Highcharts.chart('chartdiv', {

							chart : { type : 'line'},
							title : { text : data[0].category + '소비자가 현황 및 예측'},
							xAxis : {  categories: data[0].days},
							yAxis : {
								title : {text : '가격(원)'}
						},
							series : [
								{   name: "마트",
									data: data[0].price_mart
								},
								{   name: "시장",
									data: data[0].price_sijang
								}]
						})
						Highcharts.chart('chartdiv02', {
							chart : { type : 'bar'},
							title : { text :  data[0].category + '의 가격형성에 영향을 주는 요인들'},
							xAxis : {  categories: data[0].fs_name},
							yAxis : {
									min: 0,
									title : {
										text : '변수중요도'
										//align: 'high'
									}
									//labels: {
									//	overflow: 'justify'
									//}
							},
							plotOptions: {
								bar: {
									dataLabels: {
										enabled: true
									}
        						}
        					},
        				    legend: {
								layout: 'vertical',
								align: 'right',
								verticalAlign: 'top',
								x: -40,
								y: 230,
								floating: true,
								borderWidth: 1,
								backgroundColor:
									Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
								shadow: true
							},
							credits: {
								enabled: false
							},
							series : [
								{   name: "마트",
									data: data[0].fm_number
								},
								{
									name: "시장",
									data: data[0].fs_number
								} ]
						}
					)
				}
			});
		})
		$('#vegetableclick2').click(function () {
			$.ajax({
				url: "{% url 'vegetableSelectProducer' id='배추' %}",
				data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
				datatype:'json',
				type: 'post',
				success: function (data) {
					console.log(data)
					$('#preview').html($('<img src="{% static 'assets/img/products/cabbage.jpg' %}" alt="">'));

					$('#tablelist').empty()
					var txt = "";
					$('#today-mart-price').html('<h3 class="text-center">' + ' 오늘의' + '<span class="orange-text">' +' 마트' + '</span>' +' 가격은 ' +
								'<span class="orange-text">' + data[0].trData[0].today + '</span>' + '원 입니다' + '</h3><br>');
					$('#today-sijang-price').html('<h3 class="text-center">' + ' 오늘의' + '<span class="orange-text">' +' 시장' + '</span>' +' 가격은 ' +
								'<span class="orange-text">' + data[0].trData[1].today + '</span>' + '원 입니다' + '</h3><br>');

					$.each(data[0].trData , function(idx, obj) {
						txt +="<tr><td>"+obj.kind+"</td>" ;
						txt +="<td>"+obj.weekly+' 원'+"</td>" ;
						txt +="<td>"+obj.twodaysago+' 원'+"</a></td>";
						txt +="<td>"+obj.yesterday+' 원'+"</td>";
						txt +="<td>"+obj.gap+' 원'+"</td></tr>" ;
					});
					$("#tablelist").append(txt);

					$('#vegdiv1_p').empty();
					$('#vegdiv1_p').html('<h3>' + ' 소비자가격' + '<span class="orange-text">' +' 예측 결과' + '</span></h3>'+
										'<p>' + data[0].category + '의 소비자가격을 예측해보자!' + '</p>');
					$('#vegdiv2_p').html('<h3>' + ' 주간 소비자가격'+ '<span class="orange-text">'+ '예측' + '</span></h3>');
						Highcharts.chart('chartdiv', {
							chart : { type : 'line'},
							title : { text : data[0].category + '소비자가격 예측'},
							xAxis : {  categories: data[0].days},
							yAxis : {
								title : {text : '가격(원)'}
						},
							series : [
								{   name: "마트",
									data: data[0].price_mart
								},
								{   name: "시장",
									data:  data[0].price_sijang
								}]
						})
						Highcharts.chart('chartdiv02', {
							chart : { type : 'bar'},
							title : { text :  data[0].category + '의 가격형성에 영향을 주는 요인들'},
							xAxis : {  categories: data[0].fs_name},
							yAxis : {
									min: 0,
									title : {
										text : '변수중요도'
										//align: 'high'
									}
									//labels: {
									//	overflow: 'justify'
									//}
							},
							plotOptions: {
								bar: {
									dataLabels: {
										enabled: true
									}
        						}
        					},
        				    legend: {
								layout: 'vertical',
								align: 'right',
								verticalAlign: 'top',
								x: -40,
								y: 230,
								floating: true,
								borderWidth: 1,
								backgroundColor:
									Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
								shadow: true
							},
							credits: {
								enabled: false
							},
							series : [
								{   name: "마트",
									data: data[0].fm_number
								},
								{
									name: "시장",
									data: data[0].fs_number
								} ]
						})
				}
			});
		})
		$('#vegetableclick3').click(function () {
			$.ajax({
				url: "{% url 'vegetableSelectProducer' id='무' %}",
				data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
				datatype:'json',
				type: 'post',
				success: function (data) {
					console.log(data)
					$('#preview').html($('<img src="{% static 'assets/img/products/Radish.jpg' %}" alt="">'));

					$('#tablelist').empty()
					var txt = "";
					$('#today-mart-price').html('<h3 class="text-center">' + ' 오늘의' + '<span class="orange-text">' +' 마트' + '</span>' +' 가격은 ' +
								'<span class="orange-text">' + data[0].trData[0].today + '</span>' + '원 입니다' + '</h3><br>');
					$('#today-sijang-price').html('<h3 class="text-center">' + ' 오늘의' + '<span class="orange-text">' +' 시장' + '</span>' +' 가격은 ' +
								'<span class="orange-text">' + data[0].trData[1].today + '</span>' + '원 입니다' + '</h3><br>');

					$.each(data[0].trData , function(idx, obj) {
						txt +="<tr><td>"+obj.kind+"</td>" ;
						txt +="<td>"+obj.weekly+' 원'+"</td>" ;
						txt +="<td>"+obj.twodaysago+' 원'+"</a></td>";
						txt +="<td>"+obj.yesterday+' 원'+"</td>";
						txt +="<td>"+obj.gap+' 원'+"</td></tr>" ;
					});
					$("#tablelist").append(txt);

					$('#vegdiv1_p').empty();
					$('#vegdiv1_p').html('<h3>' + ' 소비자가격' + '<span class="orange-text">' +' 예측 결과' + '</span></h3>'+
										'<p>' + data[0].category + '의 소비자가격을 예측해보자!' + '</p>');
					$('#vegdiv2_p').html('<h3>' + ' 주간 소비자가격'+ '<span class="orange-text">'+ '예측' + '</span></h3>');
						Highcharts.chart('chartdiv', {
							chart : { type : 'line'},
							title : { text : data[0].category + '소비자가격 예측'},
							xAxis : {  categories: data[0].days},
							yAxis : {
								title : {text : '가격(원)'}
						},
							series : [
								{   name: "마트",
									data: data[0].price_mart
								},
								{   name: "시장",
									data:  data[0].price_sijang
								}]
						})
						Highcharts.chart('chartdiv02', {
							chart : { type : 'bar'},
							title : { text :  data[0].category + '의 가격형성에 영향을 주는 요인들'},
							xAxis : {  categories: data[0].fs_name},
							yAxis : {
									min: 0,
									title : {
										text : '변수중요도'
										//align: 'high'
									}
									//labels: {
									//	overflow: 'justify'
									//}
							},
							plotOptions: {
								bar: {
									dataLabels: {
										enabled: true
									}
        						}
        					},
        				    legend: {
								layout: 'vertical',
								align: 'right',
								verticalAlign: 'top',
								x: -40,
								y: 230,
								floating: true,
								borderWidth: 1,
								backgroundColor:
									Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
								shadow: true
							},
							credits: {
								enabled: false
							},
							series : [
								{   name: "마트",
									data: data[0].fm_number
								},
								{
									name: "시장",
									data: data[0].fs_number
								} ]
						})
				}
			});
		})

		$('#vegetableclick4').click(function () {
			$.ajax({
				url: "{% url 'vegetableSelectProducer' id='오이' %}",
				data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
				datatype:'json',
				type: 'post',
				success: function (data) {
					console.log(data)
					$('#preview').html($('<img src="{% static 'assets/img/products/cucumber.jpg' %}" alt="">'));

					$('#tablelist').empty()
					var txt = "";
					$('#today-mart-price').html('<h3 class="text-center">' + ' 오늘의' + '<span class="orange-text">' +' 마트' + '</span>' +' 가격은 ' +
								'<span class="orange-text">' + data[0].trData[0].today + '</span>' + '원 입니다' + '</h3><br>');
					$('#today-sijang-price').html('<h3 class="text-center">' + ' 오늘의' + '<span class="orange-text">' +' 시장' + '</span>' +' 가격은 ' +
								'<span class="orange-text">' + data[0].trData[1].today + '</span>' + '원 입니다' + '</h3><br>');

					$.each(data[0].trData , function(idx, obj) {
						txt +="<tr><td>"+obj.kind+"</td>" ;
						txt +="<td>"+obj.weekly+' 원'+"</td>" ;
						txt +="<td>"+obj.twodaysago+' 원'+"</a></td>";
						txt +="<td>"+obj.yesterday+' 원'+"</td>";
						txt +="<td>"+obj.gap+' 원'+"</td></tr>" ;
					});
					$("#tablelist").append(txt);

					$('#vegdiv1_p').empty();
					$('#vegdiv1_p').html('<h3 class="text-center">' + ' 소비자가격' + '<span class="orange-text">' +' 예측 결과' + '</span></h3>'+
										'<p>' + data[0].category + '의 예측 경락가를 알아보자!' + '</p>');
					$('#vegdiv2_p').html('<h3 class="text-center">' + ' 주간 소비자가격'+ '<span class="orange-text">'+ '예측' + '</span></h3>');
						Highcharts.chart('chartdiv', {
							chart : { type : 'line'},
							title : { text : data[0].category + '소비자가격 예측'},
							xAxis : {  categories: data[0].days},
							yAxis : {
								title : {text : '가격(원)'}
						},
							series : [
								{   name: "마트",
									data: data[0].price_mart
								},
								{   name: "시장",
									data:  data[0].price_sijang
								}]
						})
						Highcharts.chart('chartdiv02', {
							chart : { type : 'bar'},
							title : { text :  data[0].category + '의 가격형성에 영향을 주는 요인들'},
							xAxis : {  categories: data[0].fs_name},
							yAxis : {
									min: 0,
									title : {
										text : '변수중요도'
										//align: 'high'
									}
									//labels: {
									//	overflow: 'justify'
									//}
							},
							plotOptions: {
								bar: {
									dataLabels: {
										enabled: true
									}
        						}
        					},
        				    legend: {
								layout: 'vertical',
								align: 'right',
								verticalAlign: 'top',
								x: -40,
								y: 230,
								floating: true,
								borderWidth: 1,
								backgroundColor:
									Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
								shadow: true
							},
							credits: {
								enabled: false
							},
							series : [
								{   name: "마트",
									data: data[0].fm_number
								},
								{
									name: "시장",
									data: data[0].fs_number
								} ]
						})
				}
			});
		})
		$('#vegetableclick5').click(function () {
			$.ajax({
				url: "{% url 'vegetableSelectProducer' id='상추' %}",
				data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
				datatype:'json',
				type: 'post',
				success: function (data) {
					console.log(data)
					$('#preview').html($('<img src="{% static 'assets/img/products/lettuce.jpg' %}" alt="">'));

					$('#tablelist').empty()
					var txt = "";
					$('#today-mart-price').html('<h3 class="text-center">' + ' 오늘의' + '<span class="orange-text">' +' 마트' + '</span>' +' 가격은 ' +
								'<span class="orange-text">' + data[0].trData[0].today + '</span>' + '원 입니다' + '</h3><br>');
					$('#today-sijang-price').html('<h3 class="text-center">' + ' 오늘의' + '<span class="orange-text">' +' 시장' + '</span>' +' 가격은  ' +
								'<span class="orange-text">' + data[0].trData[1].today + '</span>' + '원 입니다' + '</h3><br>');

					$.each(data[0].trData , function(idx, obj) {
						txt +="<tr><td>"+obj.kind+"</td>" ;
						txt +="<td>"+obj.weekly+' 원'+"</td>" ;
						txt +="<td>"+obj.twodaysago+' 원'+"</a></td>";
						txt +="<td>"+obj.yesterday+' 원'+"</td>";
						txt +="<td>"+obj.gap+' 원'+"</td></tr>" ;
					});
					$("#tablelist").append(txt);

					$('#vegdiv1_p').empty();
					$('#vegdiv1_p').html('<h3 class="text-center">'+ ' 소비자가격' + '<span class="orange-text">' +' 예측 결과' + '</span></h3>'+
										'<p>' + data[0].category + '의 소비자가격을 예측해보자!' + '</p>');
					$('#vegdiv2_p').html('<h3 class="text-center">' + ' 주간 소비자가격'+ '<span class="orange-text">'+ '예측' + '</span></h3>');
						Highcharts.chart('chartdiv', {
							chart : { type : 'line'},
							title : { text : data[0].category + '소비자가격 예측'},
							xAxis : {  categories: data[0].days},
							yAxis : {
								title : {text : '가격(원)'}
						},
							series : [
								{   name: "마트",
									data: data[0].price_mart
								},
								{   name: "시장",
									data:  data[0].price_sijang
								}]
						})
						Highcharts.chart('chartdiv02', {
							chart : { type : 'bar'},
							title : { text :  data[0].category + '의 가격형성에 영향을 주는 요인들'},
							xAxis : {  categories: data[0].fs_name},
							yAxis : {
									min: 0,
									title : {
										text : '변수중요도'
										//align: 'high'
									}
									//labels: {
									//	overflow: 'justify'
									//}
							},
							plotOptions: {
								bar: {
									dataLabels: {
										enabled: true
									}
        						}
        					},
        				    legend: {
								layout: 'vertical',
								align: 'right',
								verticalAlign: 'top',
								x: -40,
								y: 230,
								floating: true,
								borderWidth: 1,
								backgroundColor:
									Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
								shadow: true
							},
							credits: {
								enabled: false
							},
							series : [
								{   name: "마트",
									data: data[0].fm_number
								},
								{
									name: "시장",
									data: data[0].fs_number
								} ]
						})
				}
			});
		})

	})
	</script>

</body>
</html>